.addProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  min-height: 90vh;
  min-width: 100vw;

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(7, 102, 7);
  }

  &__form {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    justify-content: center;
  }
  &__submit,
  &__endAt,
  &__startAt {
    cursor: pointer;
  }
  &__submit {
    background-color: yellowgreen !important;
  }
  &__input {
    font-size: 1.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 1rem;
    border: 1px solid rgb(172, 133, 5);
    color: rgb(100, 70, 4);
    background-color: rgb(224, 224, 205);
    box-shadow: 0 0.2rem 0.4rem #555555;
  }
  &__description {
    min-height: 10rem;
  }
}
